*\.py[oc]
\.credentials
cache/*\.json
.cache
# for poetry
.venv
# for jupyter notebooks
.ipynb*
.jupyter*

# for databases created by get_active_hooks
*\.db

# files & directories created when mounted as $HOME from docker image
.bash*
.ipython/
.local/
.vscode/
