*\.py[oc]
\.credentials
cache/*\.json
# for poetry
.venv
# for jupyter notebooks
.ipynb*
.jupyter

# directories created when mounted as $HOME from docker image
.bash_history
.ipython/
.local/
.vscode/
