jsonstreams==0.4.1
# we need a version of github3.py with 
# https://github.com/sigmavirus24/github3.py/pull/675 landed
# github3.py==1.0.0a4
git+https://github.com/hwine/github3.py.git@invitations
PyYaml==3.11
tinydb==3.2.1
# until up on pypa
git+https://github.com/mozilla/github_selenium#egg=github_selenium
arrow==0.10.0
# until up on pypa
git+https://github.com/mozilla/github_selenium#egg=github_selenium
arrow==0.10.0
